<div class="sec-bg">
  <div class="employee-details-page">
    <div *ngIf="employee" #pdfContent class="employee-details flex-column">
      <img src="/bin-ayesh-logo.png" alt="logo" />
      <div class="fields-container">
        <ng-container *ngFor="let field of employeeFields">
          <p><strong>{{ field.label }}:</strong> {{ employee[field.key] || 'غير متوفر' }}</p>
        </ng-container>
      </div>
      <div class="btn-container no-print">
        <button (click)="downloadPDF()" class="rectangle-btn">تنزيل PDF</button>
        <button (click)="goBack()" class="go-back">رجوع</button>
      </div>
    </div>
  </div>
</div>
