.employee-details-page {
  padding-bottom: 20px;
}
.employee-details {
  max-width: 210mm; /* عرض A4 */
  min-height: 297mm; /* ارتفاع A4 */
}
img {
  width: 200px;
  margin-bottom: 10px;
}
.fields-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 60%;
}
.btn-container {
  display: flex;
  gap: 10px;
}
