.title-add-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 70px;
}
.add-icon {
  margin: 5px !important;
}
.search-container {
  display: flex;
  justify-content: end;
}
.table-wrapper {
  overflow-x: auto;
}
table {
  background-color: var(--white);
  overflow-x: scroll;
}
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
th,
td {
  text-align: center;
}
.dots-icon {
  color: var(--gray);
}
.mat-mdc-menu-item:has(.material-icons,mat-icon,[matButtonIcon])  {
  background-color: var(--white) !important;
  text-align: right;
  color: var(--title);
  mat-icon {
    color: var(--primary);
  }
}
.paginator-container {
  direction: ltr;
  margin-top: 20px;
  display: flex;
  align-items: center;
}


/* media query */
@media (max-width: 768px) {
  .title-add-btn {
    margin: 20px;
  }
}
